<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список страничек</title>
</head>
<body>
    <ul>
        <li><a href="index.html">Главная страница</a></li>
        <li><a href="services.html">Услуги</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="thank.html">Страница благодарности</a></li>
        <li><a href="404.html">Ошибка 404</a></li>
    </ul>
</body>
</html>