<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

  <main class="homepage" id="root">
     <section class="first-block">
        <div class="first-block__img">
            <img src="<%=require('@img/faq-first.svg') %>" alt="">
        </div>
        <div class="container">
            <div class="breadcrumbs">
                <a href="">
                    Главная
                </a>
                <span>
                    FAQ
                </span>
            </div>
            <h2 class="first-block__title">
                Часто задаваемые вопросы
            </h2>
            <p class="first-block__txt">
                Фиксированные цены и ответ на запрос в течение 45 минут
            </p>
        </div>
     </section>
     <section class="faq-page">
        <div class="container">
            <div class="faq-page__row">
                <div class="faq-page__content">
                    <div class="faq-page__block">
                        <h3 class="faq-page__title">
                            <span>
                                Первый раздел
                            </span>
                            Финансовые вопросы
                        </h3>
                        <div class="faq__wrapper faq-wrapper">
                            <div class="faq__block faqBlock">
                                <button class="faqBlock__header active">
                                    <p>
                                        Сколько стоят бухгалтерские услуги и что входит в цену? 
                                    </p>
                                    <i>
                                        <span></span><span></span>
                                    </i>
                                </button>
                                <div class="faqBlock__content">
                                    <div class="faqBlock__wrapper">
                                        <p>
                                            Мы предлагаем пакетные тарифы на бухгалтерское сопровождение. Услуги, оказываемые в рамках тарифа, будут зафиксированы в договоре на бухгалтерское сопровождение.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__block faqBlock">
                                <button class="faqBlock__header">
                                    <p>
                                        Нужно ли мне оплачивать что-то дополнительно?
                                    </p>
                                    <i>
                                        <span></span><span></span>
                                    </i>
                                </button>
                                <div class="faqBlock__content">
                                    <div class="faqBlock__wrapper">
                                        <p>
                                            Мы предлагаем пакетные тарифы на бухгалтерское сопровождение. Услуги, оказываемые в рамках тарифа, будут зафиксированы в договоре на бухгалтерское сопровождение.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__block faqBlock">
                                <button class="faqBlock__header">
                                    <p>
                                        Нужен ли Вам доступ к моему банковскому счету?
                                    </p>
                                    <i>
                                        <span></span><span></span>
                                    </i>
                                </button>
                                <div class="faqBlock__content">
                                    <div class="faqBlock__wrapper">
                                        <p>
                                            Мы предлагаем пакетные тарифы на бухгалтерское сопровождение. Услуги, оказываемые в рамках тарифа, будут зафиксированы в договоре на бухгалтерское сопровождение.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-page__block">
                        <h3 class="faq-page__title">
                            <span>
                                Первый раздел
                            </span>
                            Финансовые вопросы
                        </h3>
                        <div class="faq__wrapper faq-wrapper">
                            <div class="faq__block faqBlock">
                                <button class="faqBlock__header active">
                                    <p>
                                        Сколько стоят бухгалтерские услуги и что входит в цену? 
                                    </p>
                                    <i>
                                        <span></span><span></span>
                                    </i>
                                </button>
                                <div class="faqBlock__content">
                                    <div class="faqBlock__wrapper">
                                        <p>
                                            Мы предлагаем пакетные тарифы на бухгалтерское сопровождение. Услуги, оказываемые в рамках тарифа, будут зафиксированы в договоре на бухгалтерское сопровождение.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__block faqBlock">
                                <button class="faqBlock__header">
                                    <p>
                                        Нужно ли мне оплачивать что-то дополнительно?
                                    </p>
                                    <i>
                                        <span></span><span></span>
                                    </i>
                                </button>
                                <div class="faqBlock__content">
                                    <div class="faqBlock__wrapper">
                                        <p>
                                            Мы предлагаем пакетные тарифы на бухгалтерское сопровождение. Услуги, оказываемые в рамках тарифа, будут зафиксированы в договоре на бухгалтерское сопровождение.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__block faqBlock">
                                <button class="faqBlock__header">
                                    <p>
                                        Нужен ли Вам доступ к моему банковскому счету?
                                    </p>
                                    <i>
                                        <span></span><span></span>
                                    </i>
                                </button>
                                <div class="faqBlock__content">
                                    <div class="faqBlock__wrapper">
                                        <p>
                                            Мы предлагаем пакетные тарифы на бухгалтерское сопровождение. Услуги, оказываемые в рамках тарифа, будут зафиксированы в договоре на бухгалтерское сопровождение.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="faq-page__block">
                        <h3 class="faq-page__title">
                            <span>
                                Первый раздел
                            </span>
                            Финансовые вопросы
                        </h3>
                        <div class="faq__wrapper faq-wrapper">
                            <div class="faq__block faqBlock">
                                <button class="faqBlock__header active">
                                    <p>
                                        Сколько стоят бухгалтерские услуги и что входит в цену? 
                                    </p>
                                    <i>
                                        <span></span><span></span>
                                    </i>
                                </button>
                                <div class="faqBlock__content">
                                    <div class="faqBlock__wrapper">
                                        <p>
                                            Мы предлагаем пакетные тарифы на бухгалтерское сопровождение. Услуги, оказываемые в рамках тарифа, будут зафиксированы в договоре на бухгалтерское сопровождение.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__block faqBlock">
                                <button class="faqBlock__header">
                                    <p>
                                        Нужно ли мне оплачивать что-то дополнительно?
                                    </p>
                                    <i>
                                        <span></span><span></span>
                                    </i>
                                </button>
                                <div class="faqBlock__content">
                                    <div class="faqBlock__wrapper">
                                        <p>
                                            Мы предлагаем пакетные тарифы на бухгалтерское сопровождение. Услуги, оказываемые в рамках тарифа, будут зафиксированы в договоре на бухгалтерское сопровождение.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="faq__block faqBlock">
                                <button class="faqBlock__header">
                                    <p>
                                        Нужен ли Вам доступ к моему банковскому счету?
                                    </p>
                                    <i>
                                        <span></span><span></span>
                                    </i>
                                </button>
                                <div class="faqBlock__content">
                                    <div class="faqBlock__wrapper">
                                        <p>
                                            Мы предлагаем пакетные тарифы на бухгалтерское сопровождение. Услуги, оказываемые в рамках тарифа, будут зафиксированы в договоре на бухгалтерское сопровождение.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq-page__form-wrapper">
                    <form action="#" class="faq-page__form">
                        <h4 class="faq-page__form-title">
                            Не нашли нужный вопрос?
                        </h4>
                        <p class="faq-page__form-txt">
                            Оставьте контакты и мы ответим на все ваши вопросы
                        </p>
                        <div class="banner__form-control">
                            <p class="banner__form-label">
                                Ваше имя*
                            </p>
                            <input type="text" class="banner__form-input" placeholder="Сергей I">
                        </div>
                        <div class="banner__form-control">
                            <p class="banner__form-label">
                                Номер телефона
                            </p>
                            <input type="tel" class="banner__form-input" placeholder="8 ХХХ ХХХ ХХ ХХ">
                        </div>
                        <div class="banner__form-button">
                            <button class="banner__form-submit">
                                Получить консультацию
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     </section>
  </main>

  <%= require('@parts/footer.ejs')() %>