<%= require('@parts/header.ejs')({title: 'Frontpage' }) %>

  <main class="homepage" id="root">
     <section class="first-block">
        <div class="first-block__img">
            <img src="<%=require('@img/sevices-first.svg') %>" alt="">
        </div>
        <div class="container">
            <div class="breadcrumbs">
                <a href="">
                    Главная
                </a>
                <span>
                    FAQ
                </span>
            </div>
            <h2 class="first-block__title">
                Услуги компании
            </h2>
            <p class="first-block__txt">
                Фиксированные цены и ответ на запрос в течение 45 минут
            </p>
        </div>
     </section>
     <section class="tarif">
        <div class="container">
            <h2 class="tarif__title">
                <span>
                    Тарифы
                </span>
                Выберите тариф для вашего бизнеса
            </h2>
            <div class="tarif__row">
                <div class="tarif__col">
                    <div class="tarif__item">
                        <h3 class="tarif__item-title">
                            Тариф «Нулевой УСН»
                        </h3>
                        <p class="tarif__item-txt">
                            2000 руб/квартал
                        </p>
                        <ul class="tarif__item-list">
                            <li>– УСН</li>
                            <li>– Составление ежемесячной отчетности в ПФР</li>
                            <li>– Составление квартальной отчетности</li>
                        </ul>
                        <button class="tarif__item-btn">
                            Выбрать
                        </button>
                    </div>
                </div>
                <div class="tarif__col">
                    <div class="tarif__item">
                        <h3 class="tarif__item-title">
                            Тариф «Нулевой ОСНО»
                        </h3>
                        <p class="tarif__item-txt">
                            3000 руб/квартал
                        </p>
                        <ul class="tarif__item-list">
                            <li>
                                – ОСНО
                            </li>
                            <li>
                                – Составление ежемесячной отчетности в ПФР
                            </li>
                            <li>
                                – Составление квартальной отчетности
                            </li>
                        </ul>
                        <button class="tarif__item-btn">
                            Выбрать
                        </button>
                    </div>
                </div>
            </div>
            <form class="banner__form">
                <div class="banner__form-control">
                    <p class="banner__form-label">
                        Ваше имя*
                    </p>
                    <input type="text" class="banner__form-input" placeholder="Сергей I">
                </div>
                <div class="banner__form-control">
                    <p class="banner__form-label">
                        Номер телефона
                    </p>
                    <input type="tel" class="banner__form-input" placeholder="8 ХХХ ХХХ ХХ ХХ">
                </div>
                <div class="banner__form-button">
                    <button class="banner__form-submit">
                        Получить консультацию
                    </button>
                </div>
            </form>
        </div>
     </section>
     <section class="overgets">
        <div class="container">
            <h2 class="overgets__title">
                <span>
                    Услуги
                </span>
                Дополнительные услуги
            </h2>
            <div class="overgets__row">
                <div class="overgets__col">
                    <a href="#" class="overgets__item">
                        <h3 class="overgets__item-title">
                            Регистрация ООО с одним учредителем 
                        </h3>
                        <p class="overgets__item-price">
                            5000 рублей
                        </p>
                        <ul class="overgets__item-list">
                            <li>Подготовка комплекта документов                            </li>
                            <li>Подбор ОКВЭД</li>
                            <li>Консультация по налогообложению</li>
                        </ul>
                        <span class="overgets__item-btn">
                            Выбрать
                        </span>
                    </a>
                    <a href="#" class="overgets__item">
                        <h3 class="overgets__item-title">
                            Регистрация ООО с одним учредителем 
                        </h3>
                        <p class="overgets__item-price">
                            5000 рублей
                        </p>
                        <span class="overgets__item-btn">
                            Выбрать
                        </span>
                    </a>
                    <a href="#" class="overgets__item">
                        <h3 class="overgets__item-title">
                            Регистрация ООО с одним учредителем 
                        </h3>
                        <p class="overgets__item-price">
                            5000 рублей
                        </p>
                        <span class="overgets__item-btn">
                            Выбрать
                        </span>
                    </a>
                    <a href="#" class="overgets__item">
                        <h3 class="overgets__item-title">
                            Регистрация ООО с одним учредителем 
                        </h3>
                        <p class="overgets__item-price">
                            5000 рублей
                        </p>
                        <ul class="overgets__item-list">
                            <li>Подготовка комплекта документов                            </li>
                            <li>Подбор ОКВЭД</li>
                            <li>Консультация по налогообложению</li>
                        </ul>
                        <span class="overgets__item-btn">
                            Выбрать
                        </span>
                    </a>
                    <a href="#" class="overgets__item">
                        <h3 class="overgets__item-title">
                            Регистрация ООО с одним учредителем 
                        </h3>
                        <p class="overgets__item-price">
                            5000 рублей
                        </p>
                        <span class="overgets__item-btn">
                            Выбрать
                        </span>
                    </a>
                </div>
                <div class="overgets__col">
                    <a href="#" class="overgets__item">
                        <h3 class="overgets__item-title">
                            Регистрация ООО с одним учредителем 
                        </h3>
                        <p class="overgets__item-price">
                            5000 рублей
                        </p>
                        <ul class="overgets__item-list">
                            <li>Подготовка комплекта документов                            </li>
                            <li>Подбор ОКВЭД</li>
                            <li>Консультация по налогообложению</li>
                        </ul>
                        <span class="overgets__item-btn">
                            Выбрать
                        </span>
                    </a>
                    <a href="#" class="overgets__item">
                        <h3 class="overgets__item-title">
                            Регистрация ООО с одним учредителем 
                        </h3>
                        <p class="overgets__item-price">
                            5000 рублей
                        </p>
                        <span class="overgets__item-btn">
                            Выбрать
                        </span>
                    </a>
                    <a href="#" class="overgets__item">
                        <h3 class="overgets__item-title">
                            Регистрация ООО с одним учредителем 
                        </h3>
                        <p class="overgets__item-price">
                            5000 рублей
                        </p>
                        <span class="overgets__item-btn">
                            Выбрать
                        </span>
                    </a>
                    <a href="#" class="overgets__item">
                        <h3 class="overgets__item-title">
                            Регистрация ООО с одним учредителем 
                        </h3>
                        <p class="overgets__item-price">
                            5000 рублей
                        </p>
                        <span class="overgets__item-btn">
                            Выбрать
                        </span>
                    </a>
                    <a href="#" class="overgets__item">
                        <h3 class="overgets__item-title">
                            Регистрация ООО с одним учредителем 
                        </h3>
                        <p class="overgets__item-price">
                            5000 рублей
                        </p>
                        <span class="overgets__item-btn">
                            Выбрать
                        </span>
                    </a>
                </div>
            </div>
        </div>
     </section>
     <section class="work">
        <div class="container">
            <div class="work__row">
                <div class="work__content work__col">
                    <h2 class="work__title">
                        <span>
                            Как мы работаем
                        </span>
                        Уже 7 лет мы работаем удаленно
                    </h2>
                    <p class="work__txt">
                        Уже 7 лет работаем удалённо... Процесс работы приятный и т.д.
                    </p>
                    <p class="work__txt">
                        Вы передаете нам ваши первичные документы (через ЭДО или сканы), мы их обрабатываем и начинаем ведение бухгалтерского и налогового учета за вас.
                    </p>
                </div>
                <div class="work__stages work__col workStages">
                    <div class="workStages__wrapper">
                        <div class="workStages__item">
                            <span class="workStages__count">
                                1
                            </span>
                            <div class="workStages__shape"></div>
                            <div class="workStages__block">
                                <div class="workStages__ico">
                                    <img src="<%=require('@img/work-stage-i.svg') %>" alt="">
                                </div>
                                <p class="workStages__txt">
                                    Оставьте заявку на нашем сайте.
                                </p>
                                <p class="workStages__txt">
                                    Мы ответим вам в течение 15-ти минут и подберем для вас подходящий тариф.
                                </p>
                                <button class="workStages__btn">
                                    Получить консультацию
                                </button>
                            </div>
                        </div>
                        <div class="workStages__item">
                            <span class="workStages__count">
                                2
                            </span>
                            <div class="workStages__shape"></div>
                            <div class="workStages__block">
                                <div class="workStages__ico">
                                    <img src="<%=require('@img/work-stage-i.svg') %>" alt="">
                                </div>
                                <p class="workStages__txt">
                                    Составим договор и подпишем его удаленно с помощью ЭЦП
                                </p>
                            </div>
                        </div>
                        <div class="workStages__item">
                            <span class="workStages__count">
                                3
                            </span>
                            <div class="workStages__shape"></div>
                            <div class="workStages__block">
                                <div class="workStages__ico">
                                    <img src="<%=require('@img/work-stage-i.svg') %>" alt="">
                                </div>
                                <p class="workStages__txt">
                                    Вы передаете нам ваши первичные документы (через ЭДО или сканы), мы их обрабатываем и начинаем ведение бухгалтерского и налогового учета за вас.
                                </p>
                            </div>
                        </div>
                        <div class="workStages__item">
                            <span class="workStages__count">
                                4
                            </span>
                            <div class="workStages__shape"></div>
                            <div class="workStages__block">
                                <div class="workStages__ico">
                                    <img src="<%=require('@img/work-stage-i.svg') %>" alt="">
                                </div>
                                <p class="workStages__txt">
                                    Мы предоставляем отчетность в ИФНС, ФСС, ПФР и Росстат, начисляем зарплату вашим сотрудникам, налоги и взносы в бюджет, консультируем по важным для вас вопросам простым языком.
                                </p>
                            </div>
                        </div>
                        <div class="workStages__item">
                            <span class="workStages__count">
                                5
                            </span>
                            <div class="workStages__shape"></div>
                            <div class="workStages__block">
                                <div class="workStages__ico">
                                    <img src="<%=require('@img/work-stage-i.svg') %>" alt="">
                                </div>
                                <p class="workStages__txt">
                                    Вы занимаетесь развитием вашего бизнеса, мы – качественным ведением вашей бухгалтерии.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="<%=require('@img/work-shape.svg') %>" class="work__shape" alt="">
      </section>





      
      <!-- Контент в попапе по клику на кнопку в отзыве генерируется автоматически из данных карточки отзыва -->
      <section class="reviews">
        <div class="container">
            <h2 class="reviews__title">
                <span>Отзывы</span>
                Мы гордимся каждым партнёрством
            </h2>
        </div>
        <div class="swiper-controls container">
            <div class="swiper-button-next">
                <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.3536 4.35356C15.5488 4.15829 15.5488 3.84171 15.3536 3.64645L12.1716 0.464468C11.9763 0.269206 11.6597 0.269206 11.4645 0.464468C11.2692 0.65973 11.2692 0.976313 11.4645 1.17157L14.2929 4L11.4645 6.82843C11.2692 7.02369 11.2692 7.34027 11.4645 7.53554C11.6597 7.7308 11.9763 7.7308 12.1716 7.53554L15.3536 4.35356ZM-8.74228e-08 4.5L15 4.5L15 3.5L8.74228e-08 3.5L-8.74228e-08 4.5Z" fill="#000593"/>
                </svg>                        
            </div>
            <div class="swiper-button-prev">
                <svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.646445 3.64645C0.451183 3.84171 0.451183 4.15829 0.646445 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.73079 0.976312 4.73079 0.659729 4.53553 0.464467C4.34027 0.269205 4.02369 0.269205 3.82843 0.464467L0.646445 3.64645ZM16 3.5L0.999999 3.5L0.999999 4.5L16 4.5L16 3.5Z" fill="#000593"/>
                </svg>                        
            </div>
        </div>
        <div class="swiper reviews__slider reviewsSlider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="container">
                    <div class="reviews__row">
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="container">
                    <div class="reviews__row">
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="container">
                    <div class="reviews__row">
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="container">
                    <div class="reviews__row">
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                        <div class="reviews__col">
                            <div class="reviews__item reviewsItem">
                                <h4 class="reviewsItem__title">
                                    Игорь Рыбаков
                                </h4>
                                <p class="reviewsItem__date">
                                    Отзыв оставлен 11.02.2022
                                </p>
                                <div class="reviewsItem__txt-wrapper">
                                    <p class="reviewsItem__txt">
                                        Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
            Очень высокое качество фильмов, виден каждый волос на лице героев. Ты как будто сам в фильме - эффект присутствия. Рекомендую сходить сюда хоть раз, чтобы круто провести время и почувствовать атмосферу <br><br>
                                    </p>
                                </div>
                                <button class="reviewsItem__button">
                                    Открыть полностью
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
      </section>
      <section class="faq">
        <div class="container">
            <div class="faq__row">
                <div class="faq__content faq__col">
                    <h2 class="faq__title">
                        <span>
                            FAQ
                        </span>
                        Вопросы и ответы на них
                    </h2>
                    <div class="faq__wrapper faq-wrapper">
                        <div class="faq__block faqBlock">
                            <button class="faqBlock__header active">
                                <p>
                                    Сколько стоят бухгалтерские услуги и что входит в цену? 
                                </p>
                                <i>
                                    <span></span><span></span>
                                </i>
                            </button>
                            <div class="faqBlock__content">
                                <div class="faqBlock__wrapper">
                                    <p>
                                        Мы предлагаем пакетные тарифы на бухгалтерское сопровождение. Услуги, оказываемые в рамках тарифа, будут зафиксированы в договоре на бухгалтерское сопровождение.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="faq__block faqBlock">
                            <button class="faqBlock__header">
                                <p>
                                    Нужно ли мне оплачивать что-то дополнительно?
                                </p>
                                <i>
                                    <span></span><span></span>
                                </i>
                            </button>
                            <div class="faqBlock__content">
                                <div class="faqBlock__wrapper">
                                    <p>
                                        Мы предлагаем пакетные тарифы на бухгалтерское сопровождение. Услуги, оказываемые в рамках тарифа, будут зафиксированы в договоре на бухгалтерское сопровождение.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="faq__block faqBlock">
                            <button class="faqBlock__header">
                                <p>
                                    Нужен ли Вам доступ к моему банковскому счету?
                                </p>
                                <i>
                                    <span></span><span></span>
                                </i>
                            </button>
                            <div class="faqBlock__content">
                                <div class="faqBlock__wrapper">
                                    <p>
                                        Мы предлагаем пакетные тарифы на бухгалтерское сопровождение. Услуги, оказываемые в рамках тарифа, будут зафиксированы в договоре на бухгалтерское сопровождение.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <a href="" class="faq__btn">
                            Перейти в раздел
                        </a>
                    </div>
                </div>
                <div class="faq__img faq__col">
                    <img src="<%=require('@img/faq-img.svg') %>" alt="">
                </div>
            </div>
        </div>
      </section>
  </main>

  <%= require('@parts/footer.ejs')() %>