<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__col">
                <h3 class="footer__title">
                    Навигация
                </h3>
                <ul class="footer__list">
                    <li><a href="">О компании</a></li>
                    <li><a href="">Как мы работаем</a></li>
                    <li><a href="">Отзывы клиенов</a></li>
                    <li><a href="">Часто задаваемые вопросы</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <h3 class="footer__title">
                    Тарифы
                </h3>
                <ul class="footer__list">
                    <li><a href="">Название тарифа 1</a></li>
                    <li><a href="">Название тарифа 1</a></li>
                    <li><a href="">Название тарифа 1</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <h3 class="footer__title">
                    Услуги
                </h3>
                <ul class="footer__list">
                    <li><a href="">Название услуги 1</a></li>
                    <li><a href="">Название услуги 1</a></li>
                    <li><a href="">Название услуги 1</a></li>
                    <li><a href="">Название услуги 1</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <h3 class="footer__title">

                </h3>
                <ul class="footer__list">
                    <li><a href="">Название услуги 1</a></li>
                    <li><a href="">Название услуги 1</a></li>
                    <li><a href="">Название услуги 1</a></li>
                </ul>
            </div>
            <div class="footer__col footer__contacts">
                <a href="" class="footer__btn">
                    Оставить заявку
                </a>
                <div class="footer__tel">
                    <a href="tel:8 800 200 600" class="footer__tel-link">8 800 200 600</a>
                    <p class="footer__tel-txt">
                        Звонок по России бесплатный
                    </p>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__bottom-info">
                <a href="">Политика конфиденциальности</a> <br>
                Сайт создан и разработан в <a href="">CrazyStudio</a>
            </p>
            <div class="footer__bottom-socials">
                <a href="">
                    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.1299 5.18747L3.85373 9.26825C3.51985 9.37955 3.55694 9.86182 3.89083 9.97311L6.48769 10.7893L7.52643 14.0539C7.60063 14.3136 7.93451 14.3878 8.12 14.2023L9.64102 12.7926L12.5347 14.9072C12.7573 15.0555 13.054 14.9442 13.1282 14.6846L15.1315 6.07782C15.2428 5.44715 14.6864 4.96488 14.1299 5.18747ZM8.12 11.4199L7.78612 13.349L7.04416 10.678L14.2783 5.92943L8.12 11.4199Z" fill="#fff"/>
                    </svg>                        
                </a>
                <a href="">
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_301_348)">
                        <path d="M10.6614 5.28313C10.6737 3.79302 9.40467 2.42709 7.83264 2.238C7.79867 2.23376 7.76483 2.22861 7.73114 2.22254C7.65211 2.20741 7.57198 2.1988 7.49155 2.19678C7.169 2.19678 7.08295 2.42349 7.06028 2.55797C7.03813 2.68936 7.05925 2.80014 7.12263 2.88618C7.22928 3.03097 7.41735 3.05673 7.56832 3.07734C7.61211 3.08352 7.65385 3.08919 7.68889 3.09692C9.1017 3.41277 9.57728 3.90895 9.80966 5.30992C9.81532 5.34393 9.8179 5.38618 9.82099 5.431C9.8313 5.59846 9.85191 5.94677 10.2265 5.94677C10.2574 5.94677 10.2914 5.94419 10.3265 5.93904C10.6748 5.88597 10.6639 5.56755 10.6588 5.41452C10.6572 5.37124 10.6557 5.33053 10.6598 5.30322C10.6606 5.29638 10.661 5.2895 10.6609 5.28261L10.6614 5.28313Z" fill="white"/>
                        <path d="M7.39987 1.69109C7.44212 1.69419 7.48128 1.69728 7.51426 1.70191C9.83443 2.05898 10.9015 3.15801 11.1968 5.49622C11.2019 5.53589 11.2029 5.58433 11.2034 5.63534C11.2065 5.81825 11.2127 6.19851 11.6208 6.20623H11.6332C11.7615 6.20623 11.863 6.16759 11.9361 6.09133C12.0629 5.95891 12.0546 5.76157 12.0469 5.60288C12.0454 5.56372 12.0438 5.52713 12.0438 5.49467C12.0737 3.10391 10.0034 0.935222 7.61473 0.854843C7.60443 0.854843 7.59515 0.854843 7.58588 0.856389C7.57648 0.857574 7.56701 0.858091 7.55754 0.857934C7.53332 0.857934 7.50447 0.855873 7.47304 0.853812C7.43594 0.851236 7.39317 0.848145 7.34938 0.848145C6.96912 0.848145 6.89699 1.11865 6.88771 1.27992C6.86659 1.65245 7.22675 1.67873 7.39987 1.69109ZM11.0849 8.51816C11.0352 8.48032 10.9859 8.44184 10.9371 8.40275C10.6836 8.19871 10.4141 8.01116 10.1539 7.82927L9.99158 7.71592C9.6577 7.48148 9.35782 7.36761 9.07443 7.36761C8.69212 7.36761 8.35927 7.57886 8.08412 7.99467C7.96252 8.17913 7.81465 8.26878 7.63276 8.26878C7.50643 8.26437 7.38247 8.23329 7.269 8.17758C6.19212 7.68913 5.42234 6.93995 4.98232 5.95119C4.76952 5.47303 4.83856 5.16079 5.21263 4.90626C5.42543 4.76199 5.82063 4.49354 5.79332 3.97881C5.76137 3.39503 4.47273 1.63751 3.92966 1.43811C3.6975 1.35342 3.44301 1.35269 3.21037 1.43605C2.5864 1.64575 2.13916 2.01467 1.91503 2.50158C1.69862 2.97252 1.70893 3.52539 1.94285 4.10041C2.62041 5.76312 3.57259 7.21303 4.77364 8.40944C5.94893 9.58061 7.39369 10.5395 9.06722 11.2603C9.21819 11.3252 9.37637 11.3608 9.4923 11.3866C9.53146 11.3953 9.56547 11.403 9.5902 11.4097C9.60381 11.4134 9.61784 11.4153 9.63194 11.4154H9.64533C10.4326 11.4154 11.3781 10.6961 11.6682 9.87636C11.9227 9.1581 11.458 8.8031 11.0849 8.51816ZM7.74818 3.59082C7.6137 3.59391 7.33289 3.60113 7.23448 3.88658C7.1881 4.02054 7.19377 4.13596 7.25096 4.23128C7.33443 4.3704 7.49468 4.41368 7.63998 4.43738C8.16811 4.52188 8.43965 4.81351 8.49375 5.35607C8.51899 5.60854 8.68954 5.78527 8.90749 5.78527C8.92403 5.78525 8.94055 5.78422 8.95696 5.78218C9.21974 5.75127 9.347 5.55805 9.33567 5.20819C9.33979 4.8434 9.14915 4.42914 8.82402 4.09937C8.49838 3.76858 8.10576 3.58206 7.74818 3.59082Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_301_348">
                        <rect width="12.366" height="12.366" fill="white" transform="translate(0.722656 0.0756836)"/>
                        </clipPath>
                        </defs>
                    </svg>                        
                </a>
                <a href="">
                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.53086 1.74985C8.07441 1.29265 7.53138 0.930155 6.93321 0.683349C6.33504 0.436542 5.69363 0.310332 5.04612 0.312029C2.33178 0.312029 0.120322 2.51143 0.120322 5.21349C0.118264 6.07387 0.344953 6.91947 0.777369 7.66443L0.0791016 10.2048L2.6908 9.52202C3.41297 9.91364 4.2221 10.1192 5.04447 10.1199H5.04653C7.76128 10.1199 9.97026 7.92089 9.97191 5.21677C9.97191 3.90739 9.45996 2.67638 8.53086 1.74944V1.74985ZM5.04612 9.29141H5.04447C4.31139 9.29141 3.59177 9.09542 2.96079 8.72392L2.81117 8.6357L1.26047 9.03988L1.67432 7.53599L1.57786 7.38212C1.16756 6.73261 0.950335 5.98075 0.951318 5.21349C0.951318 2.96813 2.78849 1.14091 5.04776 1.14091C5.58544 1.13957 6.11805 1.24442 6.61475 1.44938C7.11145 1.65435 7.56237 1.95536 7.94141 2.33499C8.32232 2.71279 8.62425 3.16198 8.82978 3.65661C9.03531 4.15124 9.14036 4.6815 9.13885 5.21677C9.13885 7.46419 7.30168 9.29141 5.0457 9.29141H5.04612ZM7.29055 6.23933C7.16812 6.1786 6.5626 5.88234 6.45007 5.84213C6.33754 5.80027 6.2551 5.78099 6.17307 5.90286C6.09063 6.02596 5.85568 6.30211 5.78354 6.38377C5.71264 6.46379 5.6401 6.47528 5.51767 6.41414C5.39401 6.35341 4.99789 6.22333 4.52757 5.8052C4.16195 5.48103 3.91421 5.0789 3.84331 4.95703C3.77077 4.83393 3.83507 4.76828 3.89649 4.70673C3.95255 4.65256 4.02015 4.56434 4.08157 4.49212C4.14257 4.42195 4.16401 4.37066 4.20523 4.28859C4.24562 4.20694 4.22501 4.13472 4.1941 4.07399C4.16359 4.01326 3.91751 3.40883 3.81446 3.16345C3.7143 2.92464 3.6129 2.95829 3.53746 2.95377C3.46656 2.95049 3.38454 2.95049 3.30251 2.95049C3.22007 2.95049 3.08652 2.98085 2.97357 3.10437C2.86104 3.22624 2.54365 3.52291 2.54365 4.12528C2.54365 4.72807 2.9847 5.31115 3.04653 5.39322C3.10754 5.47323 3.91421 6.7104 5.14875 7.24137C5.37751 7.33986 5.61143 7.42602 5.84949 7.49948C6.14422 7.59221 6.41297 7.57949 6.62567 7.54871C6.86227 7.51384 7.3532 7.25245 7.45625 6.96563C7.55806 6.68044 7.55806 6.43506 7.52715 6.38377C7.49665 6.33248 7.41462 6.3017 7.29055 6.23933Z" fill="white"/>
                    </svg>                        
                </a>
            </div>
        </div>
    </div>
</footer>

<div class="backdrop"></div>

<div class="modal-feedback">
    <button class="modal-feedback__close">
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle opacity="0.1" cx="12.5" cy="12.5" r="12.5" fill="#000593"/>
            <path d="M7.6875 17.3125L17.3125 7.6875M17.3125 17.3125L7.6875 7.6875" stroke="#000593" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>            
    </button>
    <h2 class="modal-feedback__title">

    </h2>
    <p class="modal-feedback__date">

    </p>
    <div class="modal-feedback__wrapper">
        <p class="modal-feedback__txt">
            
        </p>
    </div>
    <button class="modal-feedback__open">
        Открыть полностью
    </button>
</div>

<div class="modal-thank">
    <button class="modal-thank__close">
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle opacity="0.1" cx="12.5" cy="12.5" r="12.5" fill="#000593"/>
            <path d="M7.6875 17.3125L17.3125 7.6875M17.3125 17.3125L7.6875 7.6875" stroke="#000593" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>   
    </button>
    <div class="modal-thank__img">
        <img src="<%=require('@img/modal-thank.svg') %>" alt="">
    </div>
    <h3 class="modal-thank__title">
        <span>
            Спасибо за заявку
        </span>
        Наш менеджер свяжется с вами в течении 1 минуты и проконсультирует по любому вопросу
    </h3>
    <a href="/" class="modal-thank__btn">
        Вернуться на главную
    </a>
</div>

<div class="modal-form">
    <button class="modal-form__close">
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle opacity="0.1" cx="12.5" cy="12.5" r="12.5" fill="#000593"/>
            <path d="M7.6875 17.3125L17.3125 7.6875M17.3125 17.3125L7.6875 7.6875" stroke="#000593" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>   
    </button>
    <form class="modal-form__form">
        <h3 class="modal-form__title">
            Не нашли нужный вопрос?
        </h3>
        <p class="modal-form__txt">
            Оставьте контакты и мы ответим на все ваши вопросы
        </p>
        <div class="banner__form-control">
            <p class="banner__form-label">
                Ваше имя*
            </p>
            <input type="text" class="banner__form-input" placeholder="Сергей I">
        </div>
        <div class="banner__form-control">
            <p class="banner__form-label">
                Номер телефона
            </p>
            <input type="tel" class="banner__form-input" placeholder="8 ХХХ ХХХ ХХ ХХ">
        </div>
        <div class="banner__form-button">
            <button class="banner__form-submit js--openThank" type="button">
                Получить консультацию
            </button>
        </div>
    </form>
    <div class="modal-form__img">
        <img src="<%=require('@img/modal-form.svg') %>" alt="">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

</body>

</html>