<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <%= title %>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__logo">
                    <a href="">
                        <img src="<%=require('@img/logo.png') %>" alt="">
                    </a>
                </div>
                <ul class="header__list">
                    <li><a href="">О нас</a></li>
                    <li><a href="">Тарифы</a></li>
                    <li><a href="">Дополнительные услуги</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
                <div class="header__soc">
                    <a href="" class="header__soc-item">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9978 4.47001L3.34672 7.90546C3.06564 7.99916 3.09687 8.40517 3.37796 8.49886L5.56416 9.18595L6.43864 11.9343C6.5011 12.1529 6.78218 12.2154 6.93834 12.0592L8.21883 10.8724L10.6549 12.6526C10.8423 12.7776 11.0921 12.6839 11.1546 12.4652L12.8411 5.21956C12.9348 4.68863 12.4663 4.28262 11.9978 4.47001ZM6.93834 9.71689L6.65726 11.3409L6.03263 9.09226L12.1228 5.09464L6.93834 9.71689Z" fill="#000593"/>
                        </svg>                                                      
                    </a>
                    <a href="" class="header__soc-item">
                        <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_158_1165)">
                            <path d="M8.74753 4.91786C8.75794 3.6634 7.68957 2.51348 6.36614 2.35428C6.33754 2.35072 6.30905 2.34638 6.28068 2.34127C6.21416 2.32853 6.1467 2.32128 6.07898 2.31958C5.80744 2.31958 5.735 2.51044 5.71592 2.62365C5.69726 2.73426 5.71505 2.82752 5.7684 2.89996C5.85819 3.02185 6.01652 3.04354 6.14361 3.06089C6.18048 3.0661 6.21562 3.07087 6.24511 3.07738C7.43451 3.34328 7.83488 3.761 8.03051 4.94042C8.03528 4.96905 8.03745 5.00461 8.04005 5.04235C8.04873 5.18333 8.06608 5.47656 8.38143 5.47656C8.40746 5.47656 8.43608 5.47439 8.46558 5.47005C8.75881 5.42537 8.7497 5.1573 8.74536 5.02847C8.74406 4.99204 8.74276 4.95777 8.74623 4.93478C8.74692 4.92902 8.74721 4.92322 8.7471 4.91743L8.74753 4.91786Z" fill="#000593"/>
                            <path d="M6.00185 1.89397C6.03742 1.89658 6.07039 1.89918 6.09815 1.90308C8.05141 2.20368 8.94975 3.12892 9.1983 5.09736C9.20264 5.13076 9.20351 5.17154 9.20394 5.21448C9.20654 5.36847 9.21175 5.68859 9.55529 5.6951H9.5657C9.67371 5.6951 9.75917 5.66256 9.82076 5.59837C9.92747 5.48689 9.92053 5.32075 9.91402 5.18715C9.91272 5.15419 9.91142 5.12339 9.91142 5.09606C9.93658 3.08337 8.19369 1.25763 6.18273 1.18997C6.17406 1.18997 6.16625 1.18997 6.15844 1.19127C6.15053 1.19226 6.14256 1.1927 6.13459 1.19257C6.1142 1.19257 6.08991 1.19083 6.06345 1.1891C6.03222 1.18693 5.99621 1.18433 5.95934 1.18433C5.63922 1.18433 5.57849 1.41206 5.57068 1.54783C5.5529 1.86144 5.85611 1.88356 6.00185 1.89397ZM9.10417 7.64142C9.06227 7.60956 9.02077 7.57717 8.97968 7.54426C8.76627 7.37248 8.53941 7.21459 8.32035 7.06147L8.18371 6.96604C7.90263 6.76868 7.65018 6.67281 7.4116 6.67281C7.08975 6.67281 6.80953 6.85066 6.5779 7.20071C6.47553 7.356 6.35104 7.43148 6.19792 7.43148C6.09156 7.42776 5.9872 7.4016 5.89167 7.3547C4.9851 6.94349 4.33704 6.31279 3.9666 5.48038C3.78746 5.07784 3.84558 4.81498 4.1605 4.6007C4.33965 4.47924 4.67235 4.25325 4.64936 3.81991C4.62246 3.32845 3.53761 1.84886 3.08041 1.68099C2.88496 1.6097 2.67072 1.60908 2.47487 1.67926C1.94958 1.8558 1.57306 2.16638 1.38437 2.57629C1.20219 2.97276 1.21087 3.43819 1.4078 3.92228C1.9782 5.32206 2.77981 6.54268 3.79093 7.5499C4.78036 8.53586 5.99665 9.3431 7.40553 9.94994C7.53263 10.0046 7.66579 10.0345 7.76339 10.0562C7.79636 10.0636 7.82499 10.0701 7.84581 10.0757C7.85727 10.0788 7.86907 10.0804 7.88094 10.0805H7.89222C8.55502 10.0805 9.35099 9.47497 9.5952 8.78484C9.80948 8.18016 9.41822 7.8813 9.10417 7.64142ZM6.29508 3.49328C6.18187 3.49588 5.94546 3.50196 5.86261 3.74227C5.82357 3.85505 5.82834 3.95221 5.87649 4.03246C5.94676 4.14958 6.08167 4.18601 6.20399 4.20597C6.6486 4.2771 6.8772 4.52262 6.92275 4.97938C6.944 5.19192 7.08758 5.34071 7.27106 5.34071C7.28498 5.34069 7.29889 5.33982 7.3127 5.3381C7.53393 5.31208 7.64107 5.14942 7.63153 4.85489C7.63499 4.54778 7.4745 4.19903 7.20079 3.92141C6.92665 3.64293 6.59612 3.48591 6.29508 3.49328Z" fill="#000593"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_158_1165">
                            <rect width="10.4105" height="10.4105" fill="white" transform="translate(0.380615 0.533936)"/>
                            </clipPath>
                            </defs>
                        </svg>                            
                    </a>
                    <a href="" class="header__soc-item">
                        <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.4658 1.78516C7.08153 1.40027 6.62437 1.0951 6.1208 0.887321C5.61722 0.679544 5.07724 0.573293 4.53213 0.574721C2.24703 0.574721 0.385287 2.42631 0.385287 4.70108C0.383556 5.4254 0.574396 6.13728 0.93843 6.76443L0.350586 8.90308L2.54928 8.32826C3.15725 8.65795 3.83841 8.83098 4.53074 8.83158H4.53247C6.81792 8.83158 8.67758 6.98033 8.67896 4.70384C8.67896 3.60152 8.24797 2.56518 7.4658 1.78482V1.78516ZM4.53213 8.13412H4.53074C3.91359 8.13412 3.30777 7.96912 2.77657 7.65637L2.65061 7.5821L1.34513 7.92236L1.69354 6.6563L1.61234 6.52676C1.26692 5.97997 1.08404 5.347 1.08487 4.70108C1.08487 2.81079 2.63152 1.27252 4.53351 1.27252C4.98617 1.2714 5.43455 1.35966 5.8527 1.53222C6.27085 1.70477 6.65046 1.95818 6.96956 2.27777C7.29023 2.59583 7.54442 2.97399 7.71745 3.3904C7.89048 3.80681 7.97891 4.25322 7.97764 4.70384C7.97764 6.59585 6.431 8.13412 4.53178 8.13412H4.53213ZM6.42163 5.56469C6.31856 5.51357 5.8088 5.26415 5.71406 5.2303C5.61933 5.19506 5.54992 5.17883 5.48087 5.28143C5.41146 5.38506 5.21366 5.61755 5.15294 5.68629C5.09325 5.75365 5.03218 5.76332 4.92911 5.71185C4.82501 5.66073 4.49152 5.55122 4.09558 5.19921C3.78778 4.92631 3.57922 4.58777 3.51953 4.48517C3.45846 4.38154 3.51259 4.32627 3.5643 4.27445C3.61149 4.22885 3.6684 4.15458 3.72011 4.09378C3.77147 4.03471 3.78951 3.99153 3.82421 3.92244C3.85822 3.8537 3.84087 3.7929 3.81484 3.74177C3.78916 3.69065 3.582 3.1818 3.49524 2.97523C3.41092 2.77418 3.32555 2.8025 3.26205 2.7987C3.20236 2.79594 3.13331 2.79594 3.06425 2.79594C2.99485 2.79594 2.88241 2.8215 2.78733 2.92548C2.6926 3.02808 2.42539 3.27784 2.42539 3.78495C2.42539 4.29241 2.7967 4.78329 2.84875 4.85238C2.90011 4.91974 3.57922 5.96126 4.61853 6.40827C4.81112 6.49118 5.00804 6.56372 5.20846 6.62556C5.45658 6.70363 5.68283 6.69292 5.86189 6.66701C6.06108 6.63765 6.47437 6.4176 6.56113 6.17613C6.64684 5.93605 6.64684 5.72947 6.62081 5.68629C6.59513 5.64311 6.52608 5.6172 6.42163 5.56469Z" fill="#000593"/>
                        </svg>                                                      
                    </a>
                </div>
                <div class="header__contacts">
                    <a href="tel:8 800 200 600" class="header__contacts-phone">
                        8 800 200 600
                    </a>
                    <p class="header__contacts-txt">
                        Звонок по России бесплатный
                    </p>
                </div>
                <div class="header__button-wrapper">
                    <button class="header__button js--openForm">
                        Оставить заявку
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div class="mob-header">
        <div class="container">
            <div class="mob-header__row">
                <a href="/" class="mob-header__logo">
                    <img src="<%=require('@img/logo.png') %>" alt="">
                </a>
                <button class="mob-header__burger">
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>

    <div class="mob-nav">
        <ul class="header__list">
            <li><a href="">О нас</a></li>
            <li><a href="">Тарифы</a></li>
            <li><a href="">Дополнительные услуги</a></li>
            <li><a href="">FAQ</a></li>
        </ul>
        <div class="header__soc">
            <a href="" class="header__soc-item">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.9978 4.47001L3.34672 7.90546C3.06564 7.99916 3.09687 8.40517 3.37796 8.49886L5.56416 9.18595L6.43864 11.9343C6.5011 12.1529 6.78218 12.2154 6.93834 12.0592L8.21883 10.8724L10.6549 12.6526C10.8423 12.7776 11.0921 12.6839 11.1546 12.4652L12.8411 5.21956C12.9348 4.68863 12.4663 4.28262 11.9978 4.47001ZM6.93834 9.71689L6.65726 11.3409L6.03263 9.09226L12.1228 5.09464L6.93834 9.71689Z" fill="#000593"/>
                </svg>                                                      
            </a>
            <a href="" class="header__soc-item">
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_158_1165)">
                    <path d="M8.74753 4.91786C8.75794 3.6634 7.68957 2.51348 6.36614 2.35428C6.33754 2.35072 6.30905 2.34638 6.28068 2.34127C6.21416 2.32853 6.1467 2.32128 6.07898 2.31958C5.80744 2.31958 5.735 2.51044 5.71592 2.62365C5.69726 2.73426 5.71505 2.82752 5.7684 2.89996C5.85819 3.02185 6.01652 3.04354 6.14361 3.06089C6.18048 3.0661 6.21562 3.07087 6.24511 3.07738C7.43451 3.34328 7.83488 3.761 8.03051 4.94042C8.03528 4.96905 8.03745 5.00461 8.04005 5.04235C8.04873 5.18333 8.06608 5.47656 8.38143 5.47656C8.40746 5.47656 8.43608 5.47439 8.46558 5.47005C8.75881 5.42537 8.7497 5.1573 8.74536 5.02847C8.74406 4.99204 8.74276 4.95777 8.74623 4.93478C8.74692 4.92902 8.74721 4.92322 8.7471 4.91743L8.74753 4.91786Z" fill="#000593"/>
                    <path d="M6.00185 1.89397C6.03742 1.89658 6.07039 1.89918 6.09815 1.90308C8.05141 2.20368 8.94975 3.12892 9.1983 5.09736C9.20264 5.13076 9.20351 5.17154 9.20394 5.21448C9.20654 5.36847 9.21175 5.68859 9.55529 5.6951H9.5657C9.67371 5.6951 9.75917 5.66256 9.82076 5.59837C9.92747 5.48689 9.92053 5.32075 9.91402 5.18715C9.91272 5.15419 9.91142 5.12339 9.91142 5.09606C9.93658 3.08337 8.19369 1.25763 6.18273 1.18997C6.17406 1.18997 6.16625 1.18997 6.15844 1.19127C6.15053 1.19226 6.14256 1.1927 6.13459 1.19257C6.1142 1.19257 6.08991 1.19083 6.06345 1.1891C6.03222 1.18693 5.99621 1.18433 5.95934 1.18433C5.63922 1.18433 5.57849 1.41206 5.57068 1.54783C5.5529 1.86144 5.85611 1.88356 6.00185 1.89397ZM9.10417 7.64142C9.06227 7.60956 9.02077 7.57717 8.97968 7.54426C8.76627 7.37248 8.53941 7.21459 8.32035 7.06147L8.18371 6.96604C7.90263 6.76868 7.65018 6.67281 7.4116 6.67281C7.08975 6.67281 6.80953 6.85066 6.5779 7.20071C6.47553 7.356 6.35104 7.43148 6.19792 7.43148C6.09156 7.42776 5.9872 7.4016 5.89167 7.3547C4.9851 6.94349 4.33704 6.31279 3.9666 5.48038C3.78746 5.07784 3.84558 4.81498 4.1605 4.6007C4.33965 4.47924 4.67235 4.25325 4.64936 3.81991C4.62246 3.32845 3.53761 1.84886 3.08041 1.68099C2.88496 1.6097 2.67072 1.60908 2.47487 1.67926C1.94958 1.8558 1.57306 2.16638 1.38437 2.57629C1.20219 2.97276 1.21087 3.43819 1.4078 3.92228C1.9782 5.32206 2.77981 6.54268 3.79093 7.5499C4.78036 8.53586 5.99665 9.3431 7.40553 9.94994C7.53263 10.0046 7.66579 10.0345 7.76339 10.0562C7.79636 10.0636 7.82499 10.0701 7.84581 10.0757C7.85727 10.0788 7.86907 10.0804 7.88094 10.0805H7.89222C8.55502 10.0805 9.35099 9.47497 9.5952 8.78484C9.80948 8.18016 9.41822 7.8813 9.10417 7.64142ZM6.29508 3.49328C6.18187 3.49588 5.94546 3.50196 5.86261 3.74227C5.82357 3.85505 5.82834 3.95221 5.87649 4.03246C5.94676 4.14958 6.08167 4.18601 6.20399 4.20597C6.6486 4.2771 6.8772 4.52262 6.92275 4.97938C6.944 5.19192 7.08758 5.34071 7.27106 5.34071C7.28498 5.34069 7.29889 5.33982 7.3127 5.3381C7.53393 5.31208 7.64107 5.14942 7.63153 4.85489C7.63499 4.54778 7.4745 4.19903 7.20079 3.92141C6.92665 3.64293 6.59612 3.48591 6.29508 3.49328Z" fill="#000593"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_158_1165">
                    <rect width="10.4105" height="10.4105" fill="white" transform="translate(0.380615 0.533936)"/>
                    </clipPath>
                    </defs>
                </svg>                            
            </a>
            <a href="" class="header__soc-item">
                <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.4658 1.78516C7.08153 1.40027 6.62437 1.0951 6.1208 0.887321C5.61722 0.679544 5.07724 0.573293 4.53213 0.574721C2.24703 0.574721 0.385287 2.42631 0.385287 4.70108C0.383556 5.4254 0.574396 6.13728 0.93843 6.76443L0.350586 8.90308L2.54928 8.32826C3.15725 8.65795 3.83841 8.83098 4.53074 8.83158H4.53247C6.81792 8.83158 8.67758 6.98033 8.67896 4.70384C8.67896 3.60152 8.24797 2.56518 7.4658 1.78482V1.78516ZM4.53213 8.13412H4.53074C3.91359 8.13412 3.30777 7.96912 2.77657 7.65637L2.65061 7.5821L1.34513 7.92236L1.69354 6.6563L1.61234 6.52676C1.26692 5.97997 1.08404 5.347 1.08487 4.70108C1.08487 2.81079 2.63152 1.27252 4.53351 1.27252C4.98617 1.2714 5.43455 1.35966 5.8527 1.53222C6.27085 1.70477 6.65046 1.95818 6.96956 2.27777C7.29023 2.59583 7.54442 2.97399 7.71745 3.3904C7.89048 3.80681 7.97891 4.25322 7.97764 4.70384C7.97764 6.59585 6.431 8.13412 4.53178 8.13412H4.53213ZM6.42163 5.56469C6.31856 5.51357 5.8088 5.26415 5.71406 5.2303C5.61933 5.19506 5.54992 5.17883 5.48087 5.28143C5.41146 5.38506 5.21366 5.61755 5.15294 5.68629C5.09325 5.75365 5.03218 5.76332 4.92911 5.71185C4.82501 5.66073 4.49152 5.55122 4.09558 5.19921C3.78778 4.92631 3.57922 4.58777 3.51953 4.48517C3.45846 4.38154 3.51259 4.32627 3.5643 4.27445C3.61149 4.22885 3.6684 4.15458 3.72011 4.09378C3.77147 4.03471 3.78951 3.99153 3.82421 3.92244C3.85822 3.8537 3.84087 3.7929 3.81484 3.74177C3.78916 3.69065 3.582 3.1818 3.49524 2.97523C3.41092 2.77418 3.32555 2.8025 3.26205 2.7987C3.20236 2.79594 3.13331 2.79594 3.06425 2.79594C2.99485 2.79594 2.88241 2.8215 2.78733 2.92548C2.6926 3.02808 2.42539 3.27784 2.42539 3.78495C2.42539 4.29241 2.7967 4.78329 2.84875 4.85238C2.90011 4.91974 3.57922 5.96126 4.61853 6.40827C4.81112 6.49118 5.00804 6.56372 5.20846 6.62556C5.45658 6.70363 5.68283 6.69292 5.86189 6.66701C6.06108 6.63765 6.47437 6.4176 6.56113 6.17613C6.64684 5.93605 6.64684 5.72947 6.62081 5.68629C6.59513 5.64311 6.52608 5.6172 6.42163 5.56469Z" fill="#000593"/>
                </svg>                                                      
            </a>
        </div>
        <div class="header__contacts">
            <a href="tel:8 800 200 600" class="header__contacts-phone">
                8 800 200 600
            </a>
            <p class="header__contacts-txt">
                Звонок по России бесплатный
            </p>
        </div>
        <div class="header__button-wrapper">
            <button class="header__button js--openForm">
                Оставить заявку
            </button>
        </div>
    </div>